.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &--parameters {
    height: 700px;
  }

  &__label {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    width: 200px;
  }

  &__input {
    margin-bottom: 10px;
    height: 20px;
    width: 200px;
  }
}