.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;

  &__label {
    font-size: 20px;
    margin-bottom: 10px;
  }

  &__input {
    margin-bottom: 10px;
    height: 20px;
    
  }
}